.bottom {
    text-align: center;
    padding: 14px 0;
    background-color: #cecece;
}

.attribution {
    padding: 7px 0;
}

.socials {
    padding: 7px 0;
}

.copyright {
    padding: 7px 0;
}

.placeholder {
    text-align: center;
    background-color: #dedede;
    padding: 14px 0;
}